<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ settings.text_direction }}">
  <head>{% render 'pagefly-head' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
    <link rel="dns-prefetch" href="https://ajax.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.gstatic.com">
  <!-- Google Tag Manager: 9-Aug -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5DWPT9N');</script>
<!-- End Google Tag Manager -->

    
    <script>
      (function(g,e,o,t,a,r,ge,tl,y,s){
        g.getElementsByTagName(o)[0].insertAdjacentHTML('afterbegin','<style id="georedirect1601299656501style">body{opacity:0.0 !important;}</style>');
        s=function(){g.getElementById('georedirect1601299656501style').innerHTML='body{opacity:1.0 !important;}';};
        t=g.getElementsByTagName(o)[0];y=g.createElement(e);y.async=true;
        y.src='https://g792337340.co/gr?id=-MIJtPsVJzJcjQRo6EtW&refurl='+g.referrer+'&winurl='+encodeURIComponent(window.location);
        t.parentNode.insertBefore(y,t);y.onerror=function(){s()};
        georedirect1601299656501loaded=function(redirect){var to=0;if(redirect){to=5000};
                                                          setTimeout(function(){s();},to)};
      })(document,'script','head');
    </script>
    
    
    <!-- Global site tag (gtag.js) - Google Ads: 465136917 -->
{% comment %}     <script async src="https://www.googletagmanager.com/gtag/js?id=AW-465136917"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}gtag('js', new Date());
      gtag('config', 'AW-465136917');
    </script> {% endcomment %}
    

    
    
    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
    {%- endif -%}
  
    {%- render 'seo-title' -%}
  
    {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
  
    {%- render 'social-meta-tags' -%}
    <link rel="stylesheet" type="text/css" href="https://kenwheeler.github.io/slick/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://kenwheeler.github.io/slick/slick/slick-theme.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    {% comment %} <link href="https://cdnjs.cloudflare.com/ajax/libs/nanogallery2/3.0.2/css/nanogallery2.min.css" rel="stylesheet" type="text/css"> {% endcomment %}
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    {%- render 'font-face' -%}
    {{ 'theme.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'custom.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'pages.css' | asset_url | stylesheet_tag: preload: true }}
    
    {%- if page.metafields.custom.latest_header_and_footer or blog.metafields.custom.latest_header_and_footer -%}
      {%- render 'Latest-css-variables-new' -%}
    {%- else -%}
      {%- render 'css-variables' -%}
    {%- endif -%}
  
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  
      window.theme = window.theme || {};
      theme.routes = {
        home: "{{ routes.root_url }}",
        cart: "{{ routes.cart_url | append: '.js' }}",
        cartPage: "{{ routes.cart_url }}",
        cartAdd: "{{ routes.cart_add_url | append: '.js' }}",
        cartChange: "{{ routes.cart_change_url | append: '.js' }}",
        search: "{{ routes.search_url }}",
        predictive_url: "{{ routes.predictive_search_url }}"
      };
      theme.strings = {
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        inStockLabel: {{ 'products.product.in_stock_label' | t | json }},
        oneStockLabel: {{ 'products.product.stock_label.one' | t: count: '[count]' | json }},
        otherStockLabel: {{ 'products.product.stock_label.other' | t: count: '[count]' | json }},
        willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
        willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
        waitingForStock: {{ 'products.product.waiting_for_stock' | t | json }},
        savePrice: {{ 'products.general.save_html' | t: saved_amount: '[saved_amount]' | json }},
        cartEmpty: {{ 'cart.general.empty' | t | json }},
        cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }},
        searchCollections: {{ 'general.search.collections' | t | json }},
        searchPages: {{ 'general.search.pages' | t | json }},
        searchArticles: {{ 'general.search.articles' | t | json }},
        productFrom: {{ 'products.general.from_text_html' | t: price: '' | json }},
        maxQuantity: {{ 'cart.general.max_quantity' | t: quantity: '[quantity]', title: '[title]' | json }}
      };
      theme.settings = {
        cartType: {{ settings.cart_type | json }},
        isCustomerTemplate: {% if request.page_type contains 'customers/' %}true{% else %}false{% endif %},
        moneyFormat: {{ shop.money_format | json }},
        saveType: {{ settings.product_save_type | json }},
        productImageSize: {{ settings.product_grid_image_size | json }},
        productImageCover: {{ settings.product_grid_image_fill }},
        predictiveSearch: {{ settings.predictive_search_enabled }},
        predictiveSearchType: {{ settings.search_type | json }},
        predictiveSearchVendor: {{ settings.predictive_search_show_vendor | json }},
        predictiveSearchPrice: {{ settings.predictive_search_show_price | json }},
        quickView: {{ settings.quick_shop_enable }},
        themeName: 'Base 2.0',
        themeVersion: "0.2.7"
      };
    </script>
  
    {{ content_for_header }}
  
    <script src="{{ 'vendor-scripts-v11.js' | asset_url | split: '?' | first }}" defer="defer"></script>
  
    {%- if shop.enabled_currencies.size > 1 -%}
      <link rel="stylesheet" href="{{ 'country-flags.css' | asset_url | split: '?' | first }}">
    {%- endif -%}
    <script src="{{ 'photoswipe.js' | asset_url }}"  defer="defer"></script>
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
  
    {%- if request.page_type contains 'customers/' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}
  </head>
  
  <body class="{% if page.metafields.custom.latest_header_and_footer or blog.metafields.custom.latest_header_and_footer %} Latest_new_theme {% endif %} template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if request.path == '/challenge' %} template-challange{% endif %} {{ page.handle }}" data-center-text="{{ settings.type_body_align_text }}" data-button_style="{{ settings.button_style }}" data-type_header_capitalize="{{ settings.type_header_capitalize }}" data-type_headers_align_text="{{ settings.type_headers_align_text }}" data-type_product_capitalize="{{ settings.type_product_capitalize }}" data-swatch_style="{{ settings.swatch_style }}" {% if settings.disable_animations %}data-disable-animations="true"{% endif %}>
     <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DWPT9N"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
    
    <div id="PageContainer" class="page-container">
      <div class="transition-body">
        {%- sections 'header-group' -%}
        {%- sections 'popup-group' -%}
        
        <main class="main-content" id="MainContent">
          {{ content_for_layout }}
        </main>
        <div class="menu_overlay_new" style="display: none;"></div>
        {%- if page.metafields.custom.latest_header_and_footer or blog.metafields.custom.latest_header_and_footer -%}
          {%- sections 'Latest-footer-group-new' -%}
        {%- else -%}
          {%- sections 'footer-group' -%}
        {%- endif -%}
      </div>
    </div>
  
    {%- liquid
      render 'video-modal'
      render 'photoswipe-template'
      render 'tool-tip'
    -%}
    {% render 'zoom-pswp' %}
    {% comment %} Image markup used when building product grid item via JS {% endcomment %}
    
    <template id="naturalImageMarkup">
      <div class="image-wrap" style="height: 0;">
        <img class="grid-product__image" width height src srcset loading="lazy" alt>
      </div>
    </template>
    <template id="fixedRatioImageMarkup">
      <div class="grid__image-ratio">
        <img width height src srcset loading="lazy" alt>
      </div>
    </template>
    <template id="articleImageMarkup">
      <img width height src loading="lazy">
    </template>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script>
  $('[open-modal]').on('click', function(){
  var id = $(this).attr('open-modal');
  $('.modal1#'+id).addClass('active');
});

$('[close-modal]').on('click', function(){
  $(this).parents('.modal1').removeClass('active');
});

$('.modal1').on('click', function(e) {
  if(e.target !== this){return};
  $(this).removeClass('active');
});
</script>
  </body>
</html>
