{%- if section.settings.mainheadingtext != blank or section.settings.maininfotext != blank or section.blocks.size > 0 or section.settings.mainbtnlink != blank -%}
  <div class="Page_family_jewels_column_loop_main_new" style="background:{{ section.settings.mainbackcolor }};">
    <div class="page-width">
      <div class="Page_family_jewels_column_loop_inner_new">
        {%- if section.settings.mainheadingtext != blank or section.settings.maininfotext != blank -%}
          <div class="page_common_title_new Page_family_jewels_column_loop_allheading_new">
            {%- if section.settings.mainheadingtext != blank -%}
              <h2>{{ section.settings.mainheadingtext }}</h2>
            {%- endif -%}
            {%- if section.settings.maininfotext != blank -%}
              {{ section.settings.maininfotext }}
            {%- endif -%}
          </div>
        {%- endif -%}

        {%- if section.blocks.size > 0 -%}
          <div class="Page_family_jewels_column_loop_leftrightboth_new">
            {%- if section.blocks.size > 0 -%}
              <div class="Page_family_jewels_column_loop_leftside_new">
                <div class="Page_family_jewels_column_loop_leftside_allloop_new">
                  {%- for block in section.blocks limit: 1 -%}
                    {%- if block.settings.desktopimage != blank or block.settings.mobileimage != blank or block.settings.headingtext != blank or block.settings.infotext != blank -%}
                      <div class="Page_family_jewels_column_loop_leftside_allloop_boxs_new">
                        {%- if block.settings.redirectlink != blank -%}
                          <a href="{{ block.settings.redirectlink }}">
                        {%- endif -%}
                            {%- if block.settings.desktopimage != blank or block.settings.mobileimage != blank -%}
                              <div class="Page_family_jewels_column_loop_leftside_allloop_imageboxs_new">
                                {%- if block.settings.desktopimage != blank -%}
                                  {%- render 'image-element',
                                    img: block.settings.desktopimage,
                                    widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048',
                                    classes: 'desktop_image_new',
                                  -%}
                                {%- endif -%}
                                {%- if block.settings.mobileimage != blank -%}
                                  {%- render 'image-element',
                                    img: block.settings.mobileimage,
                                    widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048',
                                    classes: 'mobile_image_new',
                                  -%}
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                            {%- if block.settings.headingtext != blank or block.settings.infotext != blank -%}
                              <div class="Page_family_jewels_column_loop_alltexts_new">
                                {%- if block.settings.headingtext != blank -%}
                                  <h3>{{ block.settings.headingtext }}</h3>
                                {%- endif -%}
                                {%- if block.settings.infotext != blank -%}
                                  {{ block.settings.infotext }}
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                        {%- if block.settings.redirectlink != blank -%}
                          </a>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  {%- endfor -%}
                </div>
              </div>
            {%- endif -%}
            {%- if section.blocks.size > 1 -%}
              <div class="Page_family_jewels_column_loop_rightside_new">
                <div class="Page_family_jewels_column_loop_rightside_allloop_new">
                  {%- for block in section.blocks limit: 4 offset: 1 -%}
                    {%- if block.settings.desktopimage != blank or block.settings.mobileimage != blank or block.settings.headingtext != blank or block.settings.infotext != blank -%}
                      <div class="Page_family_jewels_column_loop_rightside_allloop_boxs_new">
                        {%- if block.settings.redirectlink != blank -%}
                          <a href="{{ block.settings.redirectlink }}">
                        {%- endif -%}
                            {%- if block.settings.desktopimage != blank or block.settings.mobileimage != blank -%}
                              <div class="Page_family_jewels_column_loop_rightside_allloop_imageboxs_new">
                                {%- if block.settings.desktopimage != blank -%}
                                  {%- render 'image-element',
                                    img: block.settings.desktopimage,
                                    widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048',
                                    classes: 'desktop_image_new',
                                  -%}
                                {%- endif -%}
                                {%- if block.settings.mobileimage != blank -%}
                                  {%- render 'image-element',
                                    img: block.settings.mobileimage,
                                    widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048',
                                    classes: 'mobile_image_new',
                                  -%}
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                            {%- if block.settings.headingtext != blank or block.settings.infotext != blank -%}
                              <div class="Page_family_jewels_column_loop_alltexts_new">
                                {%- if block.settings.headingtext != blank -%}
                                  <h3>{{ block.settings.headingtext }}</h3>
                                {%- endif -%}
                                {%- if block.settings.infotext != blank -%}
                                  {{ block.settings.infotext }}
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                        {%- if block.settings.redirectlink != blank -%}
                          </a>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  {%- endfor -%}
                </div>
              </div>
            {%- endif -%}
          </div>

          <div class="Page_family_jewels_column_loop_mobile_new">
            <div class="swiper page_jewels_column_slider">
              <div class="swiper-wrapper">
                {%- for block in section.blocks -%}
                  {%- if block.settings.desktopimage != blank or block.settings.mobileimage != blank or block.settings.headingtext != blank or block.settings.infotext != blank -%}
                    <div class="swiper-slide Page_family_jewels_column_loop_rightside_allloop_boxs_new">
                      {%- if block.settings.redirectlink != blank -%}
                        <a href="{{ block.settings.redirectlink }}">
                      {%- endif -%}
                          {%- if block.settings.desktopimage != blank or block.settings.mobileimage != blank -%}
                            <div class="Page_family_jewels_column_loop_rightside_allloop_imageboxs_new">
                              {%- if block.settings.desktopimage != blank -%}
                                {%- render 'image-element',
                                  img: block.settings.desktopimage,
                                  widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048',
                                  classes: 'desktop_image_new',
                                -%}
                              {%- endif -%}
                              {%- if block.settings.mobileimage != blank -%}
                                {%- render 'image-element',
                                  img: block.settings.mobileimage,
                                  widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048',
                                  classes: 'mobile_image_new',
                                -%}
                              {%- endif -%}
                            </div>
                          {%- endif -%}
                          {%- if block.settings.headingtext != blank or block.settings.infotext != blank -%}
                            <div class="Page_family_jewels_column_loop_alltexts_new">
                              {%- if block.settings.headingtext != blank -%}
                                <h3>{{ block.settings.headingtext }}</h3>
                              {%- endif -%}
                              {%- if block.settings.infotext != blank -%}
                                {{ block.settings.infotext }}
                              {%- endif -%}
                            </div>
                          {%- endif -%}
                      {%- if block.settings.redirectlink != blank -%}
                        </a>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                {%- endfor -%}
              </div>
            </div>
          </div>
        
        {%- endif -%}

        {%- if section.settings.mainbtntext != blank and section.settings.mainbtnlink != blank -%}
          <div class="Page_family_jewels_column_loop_allbutton_new">
            <a href="{{ section.settings.mainbtnlink }}" class="btn">
              {{ section.settings.mainbtntext }}
            </a>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Family Jewels Column Loop",
    "class": "Page_family_jewels_column_loop_new",
    "max_blocks": 5,
    "settings": [
      {
        "type": "color",
        "id": "mainbackcolor",
        "label": "Select Main Background Color Display",
        "default": "#FFFFFF"
      },
      {
        "type": "text",
        "id": "mainheadingtext",
        "label": "Add Main Heading Text Display",
        "default": "The Talk Of The Week"
      },
      {
        "type": "richtext",
        "id": "maininfotext",
        "label": "Add Main Information Text Display",
        "default": "<p>Explore the letest story and jewels we uncover</p>"
      },
      {
        "type": "text",
        "id": "mainbtntext",
        "label": "Add Main Button Text Display",
        "default": "Load More"
      },
      {
        "type": "url",
        "id": "mainbtnlink",
        "label": "Add Main Button Link Display",
        "default": "/"
      }
    ],
    "blocks": [
      {
        "type": "information",
        "name": "Information",
        "settings": [
          {
            "type": "image_picker",
            "id": "desktopimage",
            "label": "Add Desktop Image Display"
          },
          {
            "type": "image_picker",
            "id": "mobileimage",
            "label": "Add Mobile Image Display"
          },
          {
            "type": "text",
            "id": "headingtext",
            "label": "Add Heading Text Display",
            "default": "Style"
          },
          {
            "type": "richtext",
            "id": "infotext",
            "label": "Add Information Text Display",
            "default": "<p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit.</p>"
          },
          {
            "type": "url",
            "id": "redirectlink",
            "label": "Add Redirect Link Display"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Family Jewels Column Loop",
        "blocks": [
          {
            "type": "information"
          },
          {
            "type": "information"
          },
          {
            "type": "information"
          },
          {
            "type": "information"
          },
          {
            "type": "information"
          }
        ]
      }
    ]
  }
{% endschema %}